{% extends 'layout.html.twig' %}

{% block title %}QrCodes{% endblock %}

{% block header %}
    <div id="header" class="card text-center">
        <h1>Liste des certificats <span class="badge badge-secondary">{{ files.count }}</span></h1>
        <div class="h6 text-secondary">utilisez <kbd>ctrl</kbd>+<kbd>f</kbd> (Windows) ou <kbd>cmd</kbd>+<kbd>f</kbd> (mac) pour filtrer les résultats</div>
    </div>
{% endblock %}

{% block body %}
    <p></p>
    <div class="row">
        {% for file in files %}
            <div class="col-2 card border-warning">
                <img class="card-img-top" src="../../{{ file  }}" alt="Mince, pas d'image...">
                <div class="card-body">
                    <h6 class="card-title text-center text-muted">{{ file.Filename|trim('.png') }}</h6>
                    </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}