{% extends 'layout.html.twig' %}

{% block title %}MATCHpv{% endblock %}

{% block header %}
    <div id="header" class="card text-center">
        <h1>Carnet Moteurs</h1>
    </div>
{% endblock %}

{% block moteurs_body %}

    <p><br></p>
    <div class="container">
    <h1>Bienvenue {{ user.prenom|capitalize }} ! </h1>

        <div>{{ dump(menuItems) }}</div>
        <div>Voici les droits qui vous ont été octroyés : </div>

        <div><code>{% for role in user.roles %}{{ role }}<br>{% endfor %}</code></div>

        <br>
        <div>Sélectionnez votre application dans la barre de menu en haut de page</div>
    </div>

{% endblock %}
