{% extends 'layout.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block header %}
    <div id="header" class="card text-center">
        <h1>Carnet Moteur</h1>
    </div>
{% endblock %}

{% block moteurs_body %}

    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'src/Controller/MoteursController.php'|file_link(0) }}">src/Controller/MoteursController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'templates/moteurs/index.html.twig'|file_link(0) }}">templates/moteurs/index.html.twig</a></code></li>
    </ul>
{% endblock %}
