{% extends 'layout.html.twig' %}

{% block title %}QrCodes{% endblock %}

{% block header %}
    <div id="header" class="card text-center">
        <h1>Et là, c'est le drame...</h1>
    </div>
{% endblock %}

{% block moteurs_body %}
    <p></p>
    <div class="container">
        Il semblerait que vous n'ayez pas les droits nécessaires à l'affichage de cette page...
    </div>
{% endblock %}